# Docker config
docker/
!docker/entrypoint.sh
!docker/nginx.conf
!docker/config/

# Configuration
config/config.php

# Migration Status files
config/migration.ok
config/migration.fail
config/migration.running
config/migration.log

# Files
.dockerignore
*.git*
.editorconfig
deployment.tpl.yaml
storage/cache/
!storage/cache/.gitignore
!storage/cache/views/.gitignore
