# Generic cache files
*~
.~*
*.tmp
*.temp
*.DS_Store
.*.swp
*.out
*.cache
Thumbs.db
.project
.buildpath
.settings
_vimrc_local.vim
.sass-cache

# NO SYNC Files/Folders
_NOSYNC
.NOSYNC
*_NOSYNC
*.NOSYNC
_NOSYNC/
.NOSYNC/
*_NOSYNC/
*.NOSYNC/

# Visual Studio files
/.vs

# PHPstorm files
/.idea/
/.phpstorm.meta.php
.junie/

# Docker .env files
/docker/.env
/docker/deployment.env
/docker/dev/.env
/docker/dev/deployment.env

# Project files
# Migration Status files
/config/migration.ok
/config/migration.fail
/config/migration.running
/config/migration.log
/config/idp_*_groups.yaml
/config/config.php
/config/lang/
/public/*.xml
/public/coverage
/test/coverage
/coverage
/unittests.xml
/resources/lang/*/*.mo
/bin/latest/

# Composer files
/vendor/

# Frontend files
/node_modules
/public/assets
/package-lock.json
/yarn-error.log
/.yarn-cache
