<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Migration needed</title>
    <link href="/assets/special/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
        }

        .centered {
            height: 100%;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2 class="mb-3">Migration missing...</h2>
        <p class="text-muted">Simple fix: just run the migration :)</p>
        <p class="text-muted">I mean... the site administrator have to do this...</p>
    </div>
</body>
</html>
